@import './mixin.scss';
@import './variables.scss';

.coffee-btn {
    width: 120px;
    height: 30px;
    border: 1px solid #FFFFFF;
    background: transparent;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 3px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.42;
    color: #FFFFFF;
    cursor: pointer;
    transition: transform $normal, box-shadow $normal;

    @include hover {
        box-shadow: 0 2px 5px rgb(0 0 0 / 40%);
        transform: translate3d(0,-7px,0);
    }
}

.coffee-divider {
    position: relative;
}

.coffee-divider-container {
    position: relative;

    &::before, &::after {
        content: '';
        position: absolute;
        bottom: 50%;
        transform: translateY(-50%);
        width: 60px;
        height: 1px;
        background-color: #fff;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    }

    &::before {
        left: -85px;
    }

    &::after {
        right: -85px;
    }

    &.coffee-divider-mb35 {
        margin-bottom: 35px;
    }

    &.white {
        &::before, &::after {
            background-color: #fff;
        }
        path {
            fill: #fff;
        }
    }

    &.black {
        &::before, &::after {
            background-color: #000;
        }
        path {
            fill: #000;
        }
    }
}