// fonts
$font-main            :  'Merienda', sans-serif;

// transition
$fast                 : .2s;
$normal               : .5s;

$eio                  : ease-in-out;


// breakpoints
$screen-xs-max: 350px;
$screen-sm-max: 767px;
$screen-sm-min: 768px;
$screen-md-max: 1023px;
$screen-md-min: 1024px;
$screen-lg-min: 1280px;
$screen-xl-min: 1600px;