@import '../../styles/mixin.scss';
@import '../../styles/media-queryes.scss';

.header {
    position: absolute;
    top: 0;
    padding-top: 30px;
    padding-left: 149px;

    @include mobile {
        width: 100%;
        padding-left: 0;
    }

    &-list {
        display: flex;
        align-items: flex-end;

        @include mobile {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    &-item {
        margin-right: res(20, 40);
        &:last-child {
            margin-right: 0;
        }

        @include mobile {
            margin-right: 0;
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &-link {
        color: #fff;

        @include anim-underline-link;
    }
}